<!DOCTYPE html>
<html>
<head>
  <title>Registration Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<header><i>Event Registrations</i></header>
<h1><center><i>All Registrations</i></center></h1>

  
  <div class="container">
<center>
<a href="{{ url_for('home') }}" class="back-button">🏠 Back to Home</a> |
<a href="{{ url_for('clear_registrations') }}" class="link-red"  onclick="return confirm('Are you sure you want to delete all registrations?')">🗑️ Clear All Registrations</a>
    <br><br>
    <table border="1" cellpadding="10">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Event</th>
      </tr>
      {% for reg in registrations %}
      <tr>
        <td>{{ reg[0] }}</td>
        <td>{{ reg[1] }}</td>
        <td>{{ reg[2] }}</td>
      </tr>
      {% endfor %}
    </table>
</center>
  </div>
</body>
</html>
